* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: darkblue;
  color: aqua;
  font-weight: bold;
}
#topline {
  font-size: 50px;
  padding: 80px 80px 0px 80px;
}

#clock {
  font-size: 70px;
  padding: 80px;
}

#date {
  font-size: 50px;
}